@font-face { 
    font-family: "Roboto";
    src: local("Roboto Regular"),
    local("Roboto-Regular"),
    url("Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face { 
    font-family: "Helvetica";
    src: local("Helvetica Bold"),
    local("helvetica_boldcyrusbyme"),
    url("helvetica_boldcyrusbyme.woff") format("woff");
    font-weight: 700;
}

@font-face { 
    font-family: "Helvetica";
    src: local("Helvetica Regular"),
    local("helvetica_regular"),
    url("helvetica_regular.woff") format("woff");
    font-weight: 400;
}