@import "components/header/header.css";
@import "components/main/hero.css";

.page { 
    min-inline-size: 320px;
    max-inline-size: 1419px;
    padding-inline-start:clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
    padding-inline-end: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
    min-block-size: 100dvb;
    margin: 0 auto;
    background-color: var(--system-bacground);
    overflow-x: hidden;
    position: relative;
}